{% extends 'layouts/main.html' %}
{% block title %}KongsIsland{% endblock %}
{% block content %}
<div class="login-box auth0-box before">
    <a class="btn btn-primary btn-success btn-login btn-block" href="/login">Log In</a>
	<a class="btn btn-primary btn-lg btn-login btn-block" href="/logout">Log Off</a>
</div>
<div class="row">
	<div class="col-sm-6">
		<h1>Kongs Island🐵</h1>
		<p class="lead">Captured Breeding Programme for our closest relative.</p>
		<h3>

		</h3>
		<h3>
			<a href="/zoos"><button class="btn btn-success btn-lg">Find a zoo</button></a></p>
			<a href="/zoos/create"><button class="btn btn-primary btn-lg">Add a zoo to our database</button></a>
		</h3>
		<h3>
			<a href="/gorillas"><button class="btn btn-success btn-lg">See the Silverbacks</button></a></p>
			<a href="/gorillas/create"><button class="btn btn-primary btn-lg">Add a silverback to the Captive Breeding programme</button></a>
		</h3>
		<p class="lead">Post a silverback's visit to your zoo.</p>
		<h3>
			<a href="/bookings/create"><button class="btn btn-primary btn-lg">Post a new visit of a Silverback</button></a>
		</h3>
	</div>
	<div class="col-sm-6 hidden-sm hidden-xs">
		<img id="front-splash" src="{{ url_for('static',filename='img/TitleGorilla.jpg') }}" alt="The Handsome Chap" />
	</div>
</div>
{% endblock %}